*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#nav
{
    position: fixed;
    width: 100%;
    background-color: rgb(39, 39, 202);
    border: none;
    border-radius: none;
   
}

#nav button{
   border: none;
}
header>img
{
    width: 100%;
}
p
{
    margin-top: 200px;
}
#nav ul
{
    margin-right: 120px;
    font-weight: bold;
   
}
#nav ul li a
{
    color: black;
    font-size: 20px;
}
#nav ul li a:hover
{
    color: white;
    font-weight: bolder;
    
}
.glyphicon 
{
color:white;
}
footer
{
    background-color: green;
    height: 160px;
   width:100%;
}
footer>ul
{
   float: right;
    list-style: none;
    text-align: center;
    font-size: 40px;
 
  
}
footer>p{
    font-weight: bolder;
}
footer>ul>li
{
    padding-left: 20px;
    display: inline-block;
}
.fa-facebook
{
color: blue;
}

#content2>h2
{
    color: skyblue;
    text-align: center;
}

#content2>h2:hover
{
    text-decoration-line: underline;
    color: aqua;
}
#content2>p
{
    border:2px solid black;
    width: 50%;
    text-align: justify;
    margin-left: 25%;
    min-height: 200px;
    padding: 20px;
}

/* slide show css */

#slideshow
{
    width: 100%;
    height: 400px;

   
}

#events>h2
{
    text-align: center;
    color: skyblue;
    animation: animatetext 1s infinite;
   animation-delay: 1s;
    animation-direction: alternate;
}

#events
{
    text-align: justify;
    border: 4px solid blue;
    width: 50%;
    margin-left: 28%;
    min-height: 200px;
    padding: 20px;
    animation: animate 1s infinite;
   
    animation-direction: alternate;
    

}
@keyframes animatetext
{
    from
    {
       color: skyblue;
      font-weight: bold;
    }
    to
    {
       color: brown;
       font-weight: bolder;

    }
}

@keyframes animate
{
    from
    {
        border-color: blue;
        border-radius: 0px;

    }
    to
    {
        border-color: red;
        border-radius: 40px;
    }
}

/* contact us page */

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


  /* flip effect */

  